/* General style START*/
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

button,
input {
    outline: none;
    border: none;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: base-theme;
    &.overflow-hidden {
        overflow: hidden;
    }
}

.d-none {
    display: none !important;
}

.d-none-desktop {
    @include min-md {
        display: none;
    }
}

.d-none-mobile {
    @include md {
        display: none;
    }
}

p,
h2,
h1,
h3 {
    margin-bottom: 0;
}

.tab-content>.tab-pane {
    display: none;
}

.fade:not(.show) {
    opacity: 0;
}

.fade {
    transition: opacity .15s linear;
}

.tab-content>.active {
    display: block;
}

.centerize {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

#primary {
    @include min-md {
        min-height: 75vh;
    }
}

//class for title
.section-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-bottom: var(--mb-desktop, 6px);
    @include md {
        margin-bottom: var(--mb-mobile, 6px);
    }
    &-title {
        // font-size: 24px;
        font-weight: 600;
    }
    &-subtitle {
        // font-size: 16px;
        font-weight: 400;
    }
}

#page {
    top: var(--header-height);
}

.wpcf7-form-control-wrap {
    .codedropz-upload-wrapper {
        margin: 20px 0;

        .codedropz-upload-handler {
            border-color: $black;
        }

        .dnd-upload-counter {
            display: none;
        }

        h3 {
            font-size: 22px;
        }
    }
}

form {

    p {
        margin-bottom: 8px;
    }

    label {
        width: 100%;
        font-size: 16px;

        input,
        textarea,
        select {
            width: 100%;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid $black;
            font-size: 16px;
        }

        textarea {
            max-height: 120px;
        }

        // .wpcf7-not-valid-tip,
        // .wpcf7-response-output {
        //     display: none;
        // }

        .wpcf7-not-valid {
            border-bottom: 1px solid red;
        }
    }

    .wpcf7-submit {
        border: unset !important;
        @include button;
        margin-top: 20px;
    }

    .wpcf7-spinner {
        display: none;
    }
}
/* General style END*/